<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_HeadPartial.cshtml")
    @RenderSection("css", required: false)
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial.cshtml")
    @await Html.PartialAsync("_TopbarPartial.cshtml")
    @RenderBody()
    @await Html.PartialAsync("_FootPartial.cshtml")
    @RenderSection("Scripts", required: false)
</body>
</html>
