@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AdminLayout.Models.ExternalLoginModel


<div style="text-align:center ">
    <h4>EXTERNAL PROVIDER REGISTRATION</h4>
    <hr />
</div>

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">External provider registration</div>
                    <div class="card-body">
                        <p class="text-info" >
                            Enter an email to associate your <strong>@ViewData["Provider"]</strong> account.
                        </p>
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        @*<label asp-for="Email" class="control-label"></label>*@
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Submit" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


