@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AdminLayout.Models.UserRegistrationModel



<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">REGISTER</div>
                    <div class="card-body">
                        <form asp-controller="Account" asp-action="Register">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group row">
                                <label asp-for="FirstName" class="col-md-4 col-form-label text-md-right">FirstName</label>
                                <div class="col-md-6">
                                    <input asp-for="FirstName" id="email_address" class="form-control" required autofocus>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="LastName" class="col-md-4 col-form-label text-md-right">LastName</label>
                                <div class="col-md-6">
                                    <input asp-for="LastName" class="form-control">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Email" class="col-md-4 col-form-label text-md-right">Email</label>
                                <div class="col-md-6">
                                    <input asp-for="Email" class="form-control">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input asp-for="Password" class="form-control">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="ConfirmPassword" class="col-md-4 col-form-label text-md-right">ConfirmPassword</label>
                                <div class="col-md-6">
                                    <input asp-for="ConfirmPassword" class="form-control">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <div class="form-group">
                                    <input type="submit" value="Register" class="btn btn-primary" />                                  
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
