<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="~/user/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="~/user/images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/user/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="~/user/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="~/user/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="~/user/css/custom.css">


