@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Microsoft.AspNetCore.Identity
@using AdminLayout.Areas.Admin.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="our-link">
    <ul>
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link " asp-controller="Home" asp-action="Index"
                   title="Welcome">Welcome @User.Identity.Name!</a>
            </li>
            <li class="nav-item">

                <a asp-controller="Account" asp-action="Logout" type="submit" class="nav-link btn btn-link text-info">Logout</a>

            </li>
        }
        else
        {

            <li>
                <a class="nav-link " asp-controller="Account"
                   asp-action="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-controller="Account"
                   asp-action="Register">Register</a>
            </li>
        }
    </ul>

</div>